<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head><title>Usuarios</title></head>
<body>
<div>
  <h2>Listado de Usuarios</h2>
  <a th:href="@{/usuarios/nuevo}">Nuevo Usuario</a>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Cuenta</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
      <th>Eliminado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
      <td th:text="${usuario.id}"></td>
      <td th:text="${usuario.cuenta}"></td>
      <td th:text="${usuario.nombre}"></td>
      <td th:text="${usuario.apellido}"></td>
      <td th:text="${usuario.email}"></td>
      <td th:text="${usuario.rol}"></td>
      <td>
        <a th:href="@{|/usuarios/editar/${usuario.id}|}">Editar</a> |
        <a th:href="@{|/usuarios/eliminar/${usuario.id}|}">Eliminar</a>
      </td>
      <td th:text="${usuario.eliminado} ? 'Sí' : 'No'"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
