<div th:fragment="sidebar">
  <ul>
    <li>Usuario
      <ul>
        <li><a th:href="@{/usuario}">ABM Usuarios</a></li>
        <li><a th:href="@{/usuario/change-password}">Cambiar Clave</a></li>
      </ul>
    </li>
    <li>Dirección
      <ul>
        <li><a th:href="@{/pais}">ABM País</a></li>
        <li><a th:href="@{/provincia}">ABM Provincia</a></li>
        <li><a th:href="@{/departamento}">ABM Departamento</a></li>
        <li><a th:href="@{/localidad}">ABM Localidad</a></li>
      </ul>
    </li>
    <li>Empresa
      <ul>
        <li><a th:href="@{/empresa}">ABM Empresa</a></li>
      </ul>
    </li>
    <li>Proveedor
      <ul>
        <li><a th:href="@{/proveedor}">ABM Proveedor</a></li>
      </ul>
    </li>
  </ul>
</div>
