<!DOCTYPE html>
<html th:replace="layout :: layout" xmlns:th="http://www.thymeleaf.org">
<head><title>País - Form</title></head>
<body>
<section>
  <h2 th:text="${item.id} != null ? 'Editar País' : 'Nuevo País'"></h2>
  <form method="post" th:action="@{/pais/guardar}" th:object="${item}">
    <input th:field="*{id}" type="hidden"/>
    <label>Nombre</label>
    <label>
      <input th:field="*{nombre}"/>
    </label>
    <button type="submit">Guardar</button>
  </form>
  <a th:href="@{/pais}">Volver</a>
</section>
</body>
</html>
