<!DOCTYPE html>
<html th:replace="layout :: layout"
      xmlns:th="http://www.thymeleaf.org">
<head><title>Países</title></head>
<body>
<section>
  <h2>Países</h2>
  <a th:href="@{/pais/nuevo}">Nuevo País</a>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Acc</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${items}">
      <td th:text="${p.id}">1</td>
      <td th:text="${p.nombre}">Argentina</td>
      <td>
        <a th:href="@{|/pais/editar/${p.id}|}">Editar</a>
        <form method="post" style="display:inline" th:action="@{|/pais/eliminar/${p.id}|}">
          <button type="submit">Eliminar</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
