<!-- templates/fragments/sidebar.html -->
<div th:fragment="sidebar(activePage)">
    <div class="sidebar p-3 bg-dark text-white vh-100">
        <h5 class="text-center mb-4">Menú</h5>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:href="@{/libro/listar}" 
                   th:classappend="${activePage=='libros'} ? 'active'" 
                   class="nav-link text-white">
                    <i class="fa fa-book"></i> Libros
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/autor/listar}" 
                   th:classappend="${activePage=='autores'} ? 'active'" 
                   class="nav-link text-white">
                    <i class="fa fa-user"></i> Autores
                </a>
            </li>

            <li class="nav-item">
                <a th:href="@{/persona/listar}" 
                   th:classappend="${activePage=='personas'} ? 'active'" 
                   class="nav-link text-white" 
                   data-bs-toggle="collapse" data-bs-target="#submenuPersona" aria-expanded="false">
                    <i class="fa fa-users"></i> Gestionar Personas
                </a>
				<div class="collapse ps-3 mt-1" id="submenuPersona">
                    <!--<a th:href="@{/persona/domicilio}" class="nav-link text-white">Domicilio</a>-->
                    <a th:href="@{/persona/listar}" class="nav-link text-white">Personas</a>
					<a th:href="@{/localidad/listar}" class="nav-link text-white">Localidad</a>
					
                </div>
                <div class="collapse ps-3 mt-1" id="submenuPersona">
                    <!--<a th:href="@{/persona/domicilio}" class="nav-link text-white">Domicilio</a>-->
                    
                </div>
            </li>
        </ul>
    </div>
</div>
