<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulario Provincia</title>
</head>
<body>
<div>
  <h2 th:text="${provincia.id == null} ? 'Nueva Provincia' : 'Editar Provincia'"></h2>
  <form method="post" th:action="@{/provincias}" th:object="${provincia}">
    <input th:field="*{id}" type="hidden"/>

    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" required th:field="*{nombre}" type="text"/>
    </div>

    <div>
      <label for="pais">País:</label>
      <select id="pais" required th:field="*{pais.id}">
        <option value="">-- Seleccione un País --</option>
        <option th:each="pais : ${paises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
      </select>
    </div>


    <div>
      <button type="submit">Guardar</button>
      <a th:href="@{/provincias}">Cancelar</a>
    </div>
  </form>
</div>
</body>
</html>
