<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulario País</title>
</head>
<body>
<div>
  <h2 th:text="${pais.id == null} ? 'Nuevo País' : 'Editar País'"></h2>
  <form method="post" th:action="@{/paises}" th:object="${pais}">
    <input th:field="*{id}" type="hidden"/>

    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" required th:field="*{nombre}" type="text"/>
    </div>

    <div>
      <button type="submit">Guardar</button>
      <a th:href="@{/paises}">Cancelar</a>
    </div>
  </form>
</div>
</body>
</html>
