<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Países</title>
</head>
<body>
<div>
  <h2>Listado de Países</h2>
  <a th:href="@{/paises/nuevo}">Nuevo País</a>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
      <th>Eliminado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pais : ${paises}">
      <td th:text="${pais.id}"></td>
      <td th:text="${pais.nombre}"></td>
      <td>
        <a th:href="@{|/paises/editar/${pais.id}|}">Editar</a> |
        <a th:href="@{|/paises/eliminar/${pais.id}|}">Eliminar</a>
      </td>
      <td th:text="${pais.eliminado} ? 'Sí' : 'No'"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
