<!DOCTYPE html>
<html th:fragment="layout(pageTitle, pageContent)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <title th:replace="${pageTitle}">TP1</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<header style="padding: 10px; background-color: #f8f9fa; display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <div style="flex: 1; text-align: left;">
      <a th:href="@{/}">Inicio</a>
    </div>
    <div style="flex: 1; text-align: right;">
      <div sec:authorize="isAuthenticated()">
        Bienvenido, <span sec:authentication="name"></span>
        (<span sec:authentication="authorities"></span>)
        | <a th:href="@{/cambiar-clave}">Cambiar Contraseña</a>
        | <a th:href="@{/logout}">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</header>

<main>
  <hr>
  <!-- Aquí se inyectará el contenido específico de cada página -->
  <div th:replace="${pageContent}"></div>
  <hr>
</main>

<footer style="text-align: center;">
  <p>© 2025 - TP1</p>
</footer>
</body>
</html>
