<div class="sidebar" th:fragment="miSidebar">
	<nav class="sidebar sidebar-offcanvas" id="sidebar">
	    <ul class="nav">
		  <!--<li class="nav-item">
			<div class="col-md-6 col-lg-12 grid-margin stretch-card">
	          <div class="card card-rounded ms-2">
	            <div class="card-body">
	              <div class="row justify-content-center">
	                <div class="col-sm-4">
	                  <div class="d-flex justify-content-center align-items-center mb-2 mb-sm-0">
	                    <div class="circle-progress-width me-2">
	                      <div id="totalVisitors" class="progressbar-js-circle pr-2"></div>
	                    </div>
	                    <div class="text-center">
	                      <p class="text-small mb-2 text-primary">Altura</p>
	                      <h4 class="mb-0 fw-bold">170 cm</h4>
	                    </div>
	                  </div>
	                </div>
	                <div class="col-sm-4">
	                  <div class="d-flex justify-content-center align-items-center">
	                    <div class="circle-progress-width">
	                      <div id="visitperday" class="progressbar-js-circle pr-2"></div>
	                    </div>
	                    <div class="text-center">
	                      <p class="text-small mb-2 text-primary">Peso</p>
	                      <h4 class="mb-0 fw-bold">75 kg</h4>
	                    </div>
	                  </div>
	                </div>
					<div class="col-sm-4">
	                  <div class="d-flex justify-content-center align-items-center">
	                    <div class="circle-progress-width">
	                      <div id="age" class="progressbar-js-circle pr-2"></div>
	                    </div>
	                    <div class="text-center">
	                      <p class="text-small mb-2 text-primary">Edad</p>
	                      <h4 class="mb-0 fw-bold">35 años</h4>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
		  </li>-->
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/homepage}">
	          <i class="mdi mdi-grid-large menu-icon"></i>
	          <span class="menu-title">Home</span>
	        </a>
	      </li>
		  <li class="nav-item nav-category">Mi progreso</li>
	      <li class="nav-item">
	        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
	          <i class="menu-icon mdi mdi-floor-plan"></i>
	          <span class="menu-title">Objetivos</span>
	          <i class="menu-arrow"></i> 
	        </a>
	        <!--<div class="collapse" id="ui-basic">
	          <ul class="nav flex-column sub-menu">
	            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
	            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
	            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
	          </ul>
	        </div>-->
	      </li>
	      <!--<li class="nav-item nav-category">Forms and Datas</li>-->
	      <li class="nav-item">
	        <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
	          <i class="menu-icon mdi mdi-card-text-outline"></i>
	          <span class="menu-title">Rutinas</span>
	          <i class="menu-arrow"></i>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
	          <i class="menu-icon mdi mdi-chart-line"></i>
	          <span class="menu-title">Logros alcanzados</span>
	          <i class="menu-arrow"></i>
	        </a>
	        <!--<div class="collapse" id="charts">
	          <ul class="nav flex-column sub-menu">
	            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
	          </ul>
	        </div>-->
	      </li>
		  <li class="nav-item nav-category">Mi cuenta</li>
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/cuotas}">
	          <i class="menu-icon mdi mdi-table"></i>
	          <span class="menu-title">Cuotas</span>
	          <i class="menu-arrow"></i>
	        </a>
	        <!--<div class="collapse" id="tables">
	          <ul class="nav flex-column sub-menu">
	            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
	          </ul>
	        </div>-->
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
	          <i class="menu-icon mdi mdi-layers-outline"></i>
	          <span class="menu-title">Facturas</span>
	          <i class="menu-arrow"></i>
	        </a>
	      </li>
	    </ul>
	  </nav>
	
</div>
