<!DOCTYPE html>
<html th:fragment="layout(pageTitle, pageContent)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Proveedores</title>
</head>
<body>
<div>
  <h2>Listado de Proveedores</h2>
  <!-- Solo ADMIN puede crear nuevos proveedores -->
  <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/proveedores/nuevo}">Nuevo Proveedor</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>CUIT</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Acciones</th>
      <th>Eliminado</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="proveedor : ${proveedores}">
      <td th:text="${proveedor.id}"></td>
      <td th:text="${proveedor.cuit}"></td>
      <td th:text="${proveedor.nombre}"></td>
      <td th:text="${proveedor.apellido}"></td>
      <td th:text="${proveedor.email}"></td>
      <td th:if="${proveedor.direccion != null}"
          th:text="${proveedor.direccion.calle} + ' ' + ${proveedor.direccion.altura} + ', '
             + ${proveedor.direccion.departamento?.nombre} + ', '
             + ${proveedor.direccion.departamento?.provincia?.nombre} + ', '
             + ${proveedor.direccion.departamento?.provincia?.pais?.nombre}">
      </td>
      <td th:unless="${proveedor.direccion != null}">Sin dirección</td>
      proveedor
      <td>
        <!-- Todos pueden editar -->
        <a th:href="@{|/proveedores/editar/${proveedor.id}|}">Editar</a>
        <!-- Solo ADMIN puede eliminar -->
        <span sec:authorize="hasRole('ADMIN')">
          | <a th:href="@{|/proveedores/eliminar/${proveedor.id}|}">Eliminar</a>
        </span>
      </td>
      <td th:text="${proveedor.eliminado} ? 'Sí' : 'No'"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
